@import url(https://fonts.googleapis.com/css?family=Dosis:300,400);

.top_bar{
	width:100%;
	height: 40px;
	min-width: 1050px;
	margin:0 0 10px 0;
	background-color: #333;
	display:inline-flex;
	position: fixed;
	z-index: 10;
}

body{
	background-color: #f1f1f1;
}


nav{
	float:right;
	right:1px;
	position: absolute;
	
}
nav a{
	
	color: white;
	text-decoration: none;
	color:#0eed15;
}

nav a:hover{
	color: white;
}

.wrapper{
	margin: 0 auto;
	top: 50px;
	position:relative;
	padding:0 10px;
	width:75%;
	min-width:950px;
}

.column
{
	background-color: #fff;
	padding: 10px;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	box-shadow: 2px 2px 1px #D3D3D3;
	z-index: -1;
}

.user_details{
	width:200px;
	float:left;
	margin-bottom: 20px;
}
	
.main_column{
	float:left;
	margin-left: 15px;

}	

.post_form textarea{
	width: 80%;
	height: 40px;
	border-radius: 5px;
	margin-right: 5px;
	border:1px solid #f1f1f1;
	font-size: 12px;
	padding: 5px;
}

.status_post{

width:96%;
font-size: 15px;
padding: 0px 5px;
min-height: 75px;
}

.post_profile_pic{
	float:left;
	margin-right: 7px;
}

.post_profile_pic img{
	
}


/* effect-shine */
.effect-shine a{
	font-family: 'Julius Sans One', sans-serif;
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
  color:#39e600;
    font-weight: bold;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}